body{
    margin: 0;
    padding: 0;
}

.logo{
    margin-bottom: 4%;
    padding-top: 1%;
}

.a{
    text-decoration: none;
}

.nav{
    margin: 0;
    padding:0; 
    
}

.nav ul{
    margin: 0;
    padding: 0;
    text-align: center;
    max-width: 100%;
}

.nav ul li{
    display: inline;
}

.nav ul li a {
    list-style-type: none;
    margin:0px 20px;
    padding: 10px 20px;
    font-family: 'Josefin Sans', sans-serif;
     color: #252525;
    text-decoration: none;
    font-size: 25px;
}

.nav ul li a:hover{
    list-style-type: none;
    /*margin:0px 20px;
    padding: 10px 20px; */
    font-family: 'Josefin Sans', sans-serif;
    border-bottom: 2px solid #252525;
    border-top: 2px solid #252525;
    border-radius: 10px;
    transition: all 0.5s;
}


.noselect{
    -webkit-user-select: none;  
    -moz-user-select: none;     
    -ms-user-select: none;      
    user-select: none;
}


#intro{
    background: url(../img/nihal.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    height: 130%;
    width: 100%;
    margin: 0;
    padding: 0;
}

#intro .content{
    margin: 18% 5% 2% 2%;
    height: auto;
    max-width: 570px;
    float: right;
/*    border: 1px solid black; */
}

#intro .content .contentheading{
    font-family: 'Montserrat', sans-serif;
    font-size: 60px;
    color: #EFAC2A;
/*       border: 1px solid black; */
}

#intro .content .contentheading::selection{
    background: rgba(37,37,37,0.8);
}

#intro .content .contentheading::-moz-selection{
    background: rgba(37,37,37,0.8);
}

#intro .content .contentheading:hover{
    font-family: 'Montserrat', sans-serif;
    font-size: 60px;
    color: #EFAC2A;
    border-bottom: 6px solid #EFAC2A; 
    transition:all 0.5s ease-in-out;
    cursor: crosshair;
}

#intro .content .contentdetails{
    font-family: 'Slabo 27px', serif;
    font-size: 25px;
    color: #252525;
    padding: 0 10%;
/*    border: 1px solid black; */
}

#intro .content .contentdetails::selection{
    background: white;
}

#intro .content .contentdetails::-moz-selection{
    background: white;
}

div.goup{
    background-image:url("../img/goup1.png");
    position:fixed;
    bottom:10;
    right:10;
    width:50px;
    height: 50px;
}


#skills{
    background: #166678;
    /*background: #9AB5C1;*/
    width: 100%;
    height: auto;
}

h1{
    margin: 0;
    padding: 0;
}

#skills .content{
    margin: 0% 5% 5% 2%;
    float: left;
    height: auto;
    max-width: 400px;
    padding-top: 3%;
 
/*    border: 1px solid black; */
}
#skills .content .contentheading{
    font-family: 'Montserrat', sans-serif;
    font-size: 50px;
    color: white;
    margin-right: 50%;
/*    border: 1px solid black; */
}

#skills .content .contentdetails{
    font-family: 'Slabo 27px', serif;
    font-size: 22px;
    color: #BBE4E9;
    padding: 0 5%;
/*    border: 1px solid black; */
}

.stats{
    margin-left:8%;
    height: auto;
    width: 90%;
    display: inline-block;
    cursor: progress;
/*    border: 1px solid black; */
}

.stat1{
    height: auto;
    width:200px;
    display: inline-block;
    margin-right: 6%;
/*    border: 1px solid black; */
}

.s1{
    background: url(../img/stat1.png);
    height: 200px;
    width: 200px;
    background-repeat: no-repeat;
    display: inline-block;
/*    border: 1px solid #252525; */
}

.statsdata1{
    font-family: 'Slabo 27px', serif;
    font-size: 30px;
    color: #EA5455;
    padding: 85px 70px;
    display: inline-block;
}

.sh1{
    font-family: 'Slabo 27px', serif;
    font-size: 35px;
    color: #EA5455;
    text-align: center;
    margin: 50px 0px 50px 40px;
    display: inline-block;
}

.stat2{
    height: auto;
    width:200px;
    display: inline-block;
    margin-right: 6%;
/*    border: 1px solid black; */
}

.s2{
    background: url(../img/stat2.png);
    height: 200px;
    width: 200px;
    background-repeat: no-repeat;
    display: inline-block;
/*    border: 1px solid #252525; */
}

.statsdata2{
    font-family: 'Slabo 27px', serif;
    font-size: 30px;
    color: #2D4059;
    padding: 85px 70px;
    display: inline-block;
}

.sh2{
    font-family: 'Slabo 27px', serif;
    font-size: 35px;
    color: #2D4059;
    text-align: center;
    margin: 50px 0px 50px 40px;
    display: inline-block;
}

.stat3{
    height: auto;
    width:200px;
    display: inline-block;
    margin-right: 6%;
/*    border: 1px solid black; */
}

.s3{
    background: url(../img/stat3.png);
    height: 200px;
    width: 200px;
    background-repeat: no-repeat;
    display: inline-block;
/*    border: 1px solid #252525; */
}

.statsdata3{
    font-family: 'Slabo 27px', serif;
    font-size: 30px;
    color: #EFAC2A;
    padding: 85px 70px;
    display: inline-block;
}

.sh3{
    font-family: 'Slabo 27px', serif;
    font-size: 35px;
    color: #EFAC2A;
    text-align: center;
    margin: 50px 0px 50px 40px;
    display: inline-block;
}

.stat4{
    height: auto;
    width:200px;
    display: inline-block;
    margin-right: 6%;
/*    border: 1px solid black; */
}

.s4{
    background: url(../img/stat4.png);
    height: 200px;
    width: 200px;
    background-repeat: no-repeat;
    display: inline-block;
/*    border: 1px solid #252525; */
}

.statsdata4{
    font-family: 'Slabo 27px', serif;
    font-size: 30px;
    color: #61B136;
    padding: 85px 70px;
    display: inline-block;
}

.sh4{
    font-family: 'Slabo 27px', serif;
    font-size: 35px;
    color: #61B136;
    text-align: center;
    margin: 50px 0px 50px 40px;
    display: inline-block;
}

#portfolio{
    background: #e8e8e8;
    height: auto;
    width: 100%;
}


.portfoliohead{
    padding-top:2%;
    margin-bottom: 3%;
}
.portfoliohead .portfolioheading{
    font-family: 'Montserrat', sans-serif;
    font-size: 50px;
    color: #252525;
    border-bottom: 6px dashed #252525;
}

.projects{
    margin: 0% 5% 0% 2%;
    height: auto;
    max-width: 90%; 
    padding: 5% 0.5% 0% 3%;
/*    border: 1px solid black; */
}

.pro{
    height: auto;
    max-width: 500px;
    display: inline-block;
    padding: 0;
    margin-left: 6%;
    margin-bottom: 10%;
    border: 2px dashed black;
    border-radius: 5px;
}

.pro:hover{
    height: auto;
    max-width: 500px;
    display: inline-block;
    padding: 0;
    margin-left: 6%;
    margin-bottom: 10%;
    border: 2px dashed black;
    border-radius: 5px;
    box-shadow: 0px 4px 10px -1px rgba(37,37,37,0.6);
    -webkit-filter: grayscale(100%);
	filter: grayscale(100%);
    transition: .5s ease-in;
	-webkit-transition: .5s ease-in;
	
}


.pro .proimg .img{
    margin: 0;
    padding: 0;
}

.pro .proimg{
    height: 397px;
    max-width: 100%;
    background-repeat: no-repeat;    
    border-bottom: 2px dashed black; 
    overflow: hidden;
}


.pro .heading{
    margin-top: 2%;
    font-family: 'Montserrat', sans-serif;
    color: #252525;
    margin-left: 3%;
    font-family: 'Slabo 27px', serif;
    font-size: 25px;
    max-width: 90%;
    height: auto;
    text-align: center;
}

.pro .details{
    margin-left: 3%;
    color: #252525;
    font-family: 'Slabo 27px', serif;
    font-size: 20px;
    max-width: 90%;
    height: auto;   
/*    border: 1px solid black; */
}

.projectbtn{
    color: black;
    background:transparent;
    width: 160px;
    height:50px;
    padding: 10px 10px;
    border:2px dashed black;
    border-radius: 6px;
    cursor:pointer;
    outline: none;
    font-family: 'Josefin Sans', sans-serif;
    font-size: 20px;
    margin-bottom: 6%;
}

#aboutme{
    background: #EA5455;
    width: 100%;
    height: 55%;
}

#aboutme .content{
    margin: 0% 5% 2% 2%;
    height: auto;
    max-width: 600px;
    padding-top: 4%;
    float: right;
    display:block;
/*    border: 1px solid black; */
}

#aboutme .content .contentheading{
    font-family: 'Montserrat', sans-serif;
    font-size: 50px;
    color: white;
    float: right;
    border-bottom: 6px dashed white;
/*    border: 1px solid black; */
}

#aboutme .content .contentdetails{
    font-family: 'Slabo 27px', serif;
    font-size: 22px;
    color: white;
    float: right;
    padding: 0 5%;
/*   border: 1px solid black; */
}

#aboutme a{
    color: white;
    text-decoration: none;
    font-size: 25px;
}

#contactme{
    background: #333644;
    width: 100%;
    height: 55%;
}


.contactheading {
    font-family: 'Montserrat', sans-serif;
    color: white;
    font-size: 50px;
    border-bottom: 5px dashed white;
}

.contactinfo {
    padding-top: 2%;
    max-width: 95%;
    margin-bottom: 2%;
}
.contactinfo .container{
    display: block;
    padding: 3% 0 0% 0%;
    font-family: 'Slabo 27px', serif;
    font-weight: 300;
    font-size: 40px;
    color: white;
}

.contactdetails {
    font-family: 'Slabo 27px', serif;
    font-weight: 300;
    font-size: 40px;
    color: white;
}

a{
    color: white;
    text-decoration: none;
}

.sicons {
     padding-left: 2%;
}

.footer {
    color: white;
    font-family: 'Montserrat', sans-serif;
    border: 1px solid white;
}


@media all and (max-width: 500px) {
    
.logo{
    margin-bottom: 8%;
    padding-top: 2%;
    width: 80%;
}
    

.nav ul li{
    display: block;
    margin-bottom: 5%;
}

.nav ul li a {
    list-style-type: none;
    margin:0px 20px;
    padding: 10px 20px;
    font-family: 'Josefin Sans', sans-serif;
     color: #252525;
    text-decoration: none;
    font-size: 20px;
}
    
.nav ul li a:hover {
    border-bottom: 0px solid white;
    border-top: 0px solid white;
    border-left: 2px solid black;
    border-right: 2px solid black;
}

        
#intro{
    background: #e8e8e8;
    height: 680px;
    width: 100%;
    margin: 0;
    padding: 0;
}
    
#intro .content{
    height: auto;
    max-width: 100%;
    float: right;
    margin: 6% 0% 0% 1%;
/*    border: 1px solid black; */
}

#intro .content .contentheading{
    font-family: 'Montserrat', sans-serif;
    font-size: 30px;
    color: #EFAC2A;
    margin-top: 0%;
}
    
#intro .content .contentheading:hover{
    font-family: 'Montserrat', sans-serif;
    font-size: 30px;
    color: #EFAC2A;
    border-bottom: 3px solid #EFAC2A; 
    transition:all 0.5s ease-in-out;
    cursor: crosshair;
}
    
#intro .content .contentdetails{
    font-family: 'Slabo 27px', serif;
    font-size: 20px;
    color: #252525;
    padding: 0 10%;
/*    border: 1px solid black; */
}
    
#skills .content .contentheading{
    font-family: 'Montserrat', sans-serif;
    font-size: 30px;
    color: white;
    margin-right: 50%;
    border-bottom: 3px dashed white;
}
    
#skills .content .contentdetails{
    font-family: 'Slabo 27px', serif;
    font-size: 20px;
    color: #BBE4E9;
    padding: 0 5%;
/*    border: 1px solid black; */
}
    
stats{
    margin-left:8%;
    height: auto;
    width: 90%;
    display: inline-block;
    cursor: progress;
/*    border: 1px solid black; */
}

.stat1{
    height: auto;
    width:200px;
    display: inline-block;
    margin-right: 6%;
/*    border: 1px solid black; */
}

.s1{
    background: url(../img/stat1.png);
    height: 200px;
    width: 200px;
    background-repeat: no-repeat;
    display: inline-block;
/*    border: 1px solid #252525; */
}

.statsdata1{
    font-family: 'Slabo 27px', serif;
    font-size: 30px;
    color: #EA5455;
    padding: 85px 75px;
    display: inline-block;
}

.sh1{
    font-family: 'Slabo 27px', serif;
    font-size: 30px;
    color: #EA5455;
    text-align: center;
    margin: 30px 0px 50px 40px;
    display: inline-block;
}

.stat2{
    height: auto;
    width:200px;
    display: inline-block;
    margin-right: 6%;
/*    border: 1px solid black; */
}

.s2{
    background: url(../img/stat2.png);
    height: 200px;
    width: 200px;
    background-repeat: no-repeat;
    display: inline-block;
/*    border: 1px solid #252525; */
}

.statsdata2{
    font-family: 'Slabo 27px', serif;
    font-size: 30px;
    color: #2D4059;
    padding: 85px 75px;
    display: inline-block;
}

.sh2{
    font-family: 'Slabo 27px', serif;
    font-size: 30px;
    color: #2D4059;
    text-align: center;
    margin: 30px 0px 50px 40px;
    display: inline-block;
}

.stat3{
    height: auto;
    width:200px;
    display: inline-block;
    margin-right: 6%;
/*    border: 1px solid black; */
}

.s3{
    background: url(../img/stat3.png);
    height: 200px;
    width: 200px;
    background-repeat: no-repeat;
    display: inline-block;
/*    border: 1px solid #252525; */
}

.statsdata3{
    font-family: 'Slabo 27px', serif;
    font-size: 30px;
    color: #EFAC2A;
    padding: 85px 75px;
    display: inline-block;
}

.sh3{
    font-family: 'Slabo 27px', serif;
    font-size: 30px;
    color: #EFAC2A;
    text-align: center;
    margin: 30px 0px 50px 40px;
    display: inline-block;
}

.stat4{
    height: auto;
    width:200px;
    display: inline-block;
    margin-right: 6%;
/*    border: 1px solid black; */
}

.s4{
    background: url(../img/stat4.png);
    height: 200px;
    width: 200px;
    background-repeat: no-repeat;
    display: inline-block;
/*    border: 1px solid #252525; */
}

.statsdata4{
    font-family: 'Slabo 27px', serif;
    font-size: 30px;
    color: #61B136;
    padding: 85px 75px;
    display: inline-block;
}

.sh4{
    font-family: 'Slabo 27px', serif;
    font-size: 30px;
    color: #61B136;
    text-align: center;
    margin: 30px 0px 50px 40px;
    display: inline-block;
}
    
.projects{
    margin: 0% 0% 0% 2%;
    height: auto;
    max-width: 90%; 
    padding: 5% 0.5% 0% 3%;
/*    border: 1px solid black; */
}
    
.pro{
    height: auto;
    max-width: 90%;
    display: inline-block;
    padding: 0;
    margin-left: 6%;
    margin-bottom: 10%;
    border: 2px dashed black;
    border-radius: 5px;
}

.pro:hover{
    height: auto;
    max-width: 90%;
    display: inline-block;
    padding: 0;
    margin-left: 6%;
    margin-bottom: 10%;
    border: 2px dashed black;
    border-radius: 5px;
    box-shadow: 0px 4px 10px -1px rgba(37,37,37,0.6);
    -webkit-filter: grayscale(100%);
	filter: grayscale(100%);
    transition: .5s ease-in;
	-webkit-transition: .5s ease-in;
} 

.portfoliohead{
    margin-bottom: 3%;
}
.portfoliohead .portfolioheading{
    font-family: 'Montserrat', sans-serif;
    font-size: 30px;
    color: #252525;
    border-bottom: 3px dashed #252525;
}

.pro .proimg .img{
    margin: 0;
    padding: 0;
}

.pro .proimg{
    height: 300px;
    max-width: 100%;
    background-repeat: no-repeat;    
    border-bottom: 2px dashed black; 
    overflow: hidden;
}


.pro .heading{
    margin-top: 2%;
    font-family: 'Montserrat', sans-serif;
    color: #252525;
    margin-left: 3%;
    font-family: 'Slabo 27px', serif;
    font-size: 20px;
    max-width: 90%;
    height: auto;
    text-align: center;
}

.pro .details{
    margin-left: 3%;
    color: #252525;
    font-family: 'Slabo 27px', serif;
    font-size: 18px;
    max-width: 90%;
    height: auto;   
/*    border: 1px solid black; */
}
    

#contactme{
    background: #333644;
    width: 100%;
    height: 35%;
}


.contactheading {
    font-family: 'Montserrat', sans-serif;
    color: white;
    font-size: 30px;
    border-bottom: 3px dashed white;
}

.contactinfo {
    padding-top: 5%;
    max-width: 95%;
}
.contactinfo .container{
    display: block;
    padding: 3% 0 0% 0%;
    font-family: 'Slabo 27px', serif;
    font-weight: 300;
    font-size: 20px;
    color: white;
}

.contactdetails {
    font-family: 'Slabo 27px', serif;
    font-weight: 300;
    font-size: 20px;
    color: white;
}
    
#aboutme{
    background: #EA5455;
    width: 100%;
    height: 360px;
}

#aboutme .content{
    margin: 0% 5% 0% 2%;
    height: auto;
    max-width: 400px;
    padding-top: 6%;
    float: right;
    display:block;
/*    border: 1px solid black; */
}

#aboutme .content .contentheading{
    font-family: 'Montserrat', sans-serif;
    font-size: 30px;
    color: white;
    float: right;
    border-bottom: 3px dashed white;
}

#aboutme .content .contentdetails{
    font-family: 'Slabo 27px', serif;
    font-size: 20px;
    color: white;
    float: right;
    padding: 0 5%;
/*   border: 1px solid black; */
}

#aboutme a{
    color: white;
    text-decoration: none;
    font-size: 20px;
    font-weight: 500; 
}
    
.footer {
    color: white;
    font-family: 'Montserrat', sans-serif;
    border: 1px solid white;
    font-size: 10px;
    bottom: 0;
}
    

}

